.food-pages-container{
  height: 100vh;
  clip-path: circle(50% at 65% 7%);
  z-index: 10;
  padding-top: 100px;
  overflow: hidden;
}

.back{
  height: 100vh;
  z-index: 5;
}

.plate-spinner{
  height:761px;
  margin-top: 90px !important;
  margin-right: 100px;
  animation-name: rotate;
  animation-duration: 10s;
}

@keyframes rotate{
  from{transform: rotate(0);}
  to{transform: rotate(360deg);}
}

.plates div:nth-child(2){
  left: 280px;
  top: -110px;
}

.plates div:nth-child(3){
  right: 0;
}

.plates div:nth-child(4){
  right: -100px;
  top: 300px;
}

.plates div:nth-child(5){
  right: 0;
  bottom: 0;
}

.plates div:nth-child(6){
  right: 280px;
  bottom: -110px;
}

.plates div:nth-child(7){
  left: 0;
  bottom: 0;
}

.plates div:last-child{
  left: -100px;
  top: 300px;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
